.App {
  margin: 10px;
}

.AppTitle {
  color: #89bf04
}

.Group {
  display: flex;
  align-items: center;
}

.GroupLeft {
  display: flex;
  flex: 1;
}

.SwaggerDebug {
  margin: 10px;
  max-height: 400px;
  overflow: auto;
}
